@font-face {
    font-family: NotoSans;
    src: url('../assets/fonts/NotoSans-Regular.ttf');
}
@font-face {
    font-family: AppleSDFont;
    src: url('../assets/fonts/AppleSDGothicNeoM.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}
